.loadingnewpage{
        width: 400px;
        height: 350px;
        transform: translateZ(0);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        img {
            width: 9rem;
            -webkit-animation: fake-keyframes 1s linear infinite;
            -moz-animation: fake-keyframes 1s linear infinite;
            -o-animation: fake-keyframes 1s linear infinite;
            -ms-animation: fake-keyframes 1s linear infinite;
            animation: fake-keyframes 1s linear infinite;
          }
    }
    @-webkit-keyframes fake-keyframes {
        0% {
          margin-top: 5rem;
        }
        50% {
          margin-top: 8rem;
        }
        100% {
          margin-top: 5rem;
        }
      }
    
      @keyframes fake-keyframes {
        0% {
          margin-top: 10rem;
        }
        50% {
          margin-top: 13rem;
        }
        100% {
          margin-top: 10rem;
        }
      }

.code{
    background-color: #fff;
    width: 700px;
}
.codeContanier{
    margin-top: 30px;
}
.contanier{
    display: flex;
    justify-content: flex-start;
    width: 450px;
    min-height: 100px;
    background-color: #fff;
}