.title{
    font-size: 10rem;
    width:550px;
    margin: 0 auto;
    margin-top: 200px;
    color: #1890ff;
    background-image: linear-gradient(92deg, #1890ff 0%,#00adf3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}